<div class="h-full flex flex-col justify-between pt-24">
  <div class="flex flex-col justify-around items-center h-1/2">
    <h1 class="font-bold text-center text-2xl">Has
      <%= @pet.name.titleize %>
      been pilled today?</h1>
    <%= turbo_frame_tag dom_id(@pet, :dosing), src: pet_dosings_path(@pet), loading: :lazy, class: "min-h-[200px] mt-24" do %>
      <%= icon "trailing-spinner", library: "animated", class: ["size-8"] %>
    <% end %>

    <%= link_to "Need to Dose Someone Else?", pets_path, class: "underline text-sm" %>
  </div>

  <div class="flex self-end pb-4">
    <%= link_to pet_path(@pet) do %>
      <%= icon "arrow-path", class: ["size-8"] %>
    <% end %>
  </div>
</div>
